---
import BaseLayout from ".../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h3>Our Mission</h3>
	<p>CookLab was created to help make cooking and baking more efficient and cost conscious for the average home cook. 
	There are many issues with modern day cooking. Firstly the growth of recipe-based cooking/baking is rooted in the overcorrection in documentation and preservation.
	An over reliance on this with the convience of the variate of ingredient and proximity of grocery stores leads to increase food waste. 
	Another issue with making food in the modern era is the choice overload. CookLab allows user to tackle these issues by helping reduce options and taking on a scientific ingredient focus approach</p>
</BaseLayout>