---
import "../styles/home.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import RecipeCardLayout from "../layouts/RecipeCardLayout.astro";
import { getCollection } from "astro:content";
const recipes = await getCollection("recipes");
---

<BaseLayout>
	<div class="header-area">
		<div class="crop">
			<img src="public/assets/images/kevin-mccutcheon-APDMfLHZiRA-unsplash.jpg" alt="person holding black frying pan">
		</div>
		<img src="../assets/images/icons/logo.png" class="logo">
		<div class="top-right">
			<a href="/ingredients/" class="icon">
				<img src="../assets/images/icons/Fish--Streamline-Plump.png" alt="fishie">
			</a>
    		<a href="/techniques/" class="icon">
				<img src="../assets/images/icons/Chef-Toque-Hat--Streamline-Plump.png" alt="chef's hat">
			</a>
			<a class="icon">
				<img src="../assets/images/icons/Archive-Box--Streamline-Plump.png" alt="archive-box">
			</a>
		</div>

		<div class="title-space">
			<h2>Start with ingredients, not recipes.</h2>

			<form class="search-bar" action="/ingredients/" method="get">
				<input type="text" name="q" placeholder="e.g. chicken, garlic, rice" aria-label="Enter ingredients"/>
				<button type="submit">Search</button>
			</form>
			
			<select class="filter">
				<option value="">Filter</option>
				<option value="cuisine">By Cuisine</option>
				<option value="time">By Time</option>
				<option value="difficulty">By Difficulty</option>
			</select>
		</div>
		
	</div>

	<section class="cards">
		{recipes.map((recipe) => (
			<RecipeCardLayout
				href={`/recipes/${recipe.slug}/`}
				title={recipe.data.title}
				description={recipe.data.description}
				image={recipe.data.image ?? "/assets/images/placeholder.jpg"}
			/>
		))}
	</section>
  </BaseLayout>
