---
import "../styles/home.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import RecipeCardLayout from "../layouts/RecipeCardLayout.astro";
import { getCollection } from "astro:content";
const recipes = await getCollection("recipes");
---

<BaseLayout>
	<div class="header-area">
		<h3 class="logo">CookLab</h3>
		<div class="top-right">
			<button class="icon">🥘</button>
			<button class="icon">🔪</button>
		</div>

		<div class="title-space">
			<h2>Start with ingredients, not recipes.</h2>

			<!--section for user to enter ingredients-->
			<form class="search-bar" action="/ingredients/" method="get">
				<input type="text" name="q" placeholder="e.g. chicken, garlic, rice" aria-label="Enter ingredients"/>
				<button type="submit">Search</button>
			</form>
			<button class="filter">filter</button>
		</div>
		<div class="crop">
			<img src="public/assets/images/kevin-mccutcheon-APDMfLHZiRA-unsplash.jpg" alt="person holding black frying pan">
		</div>
	</div>

	<section class="cards">
		{recipes.map((recipe) => (
			<RecipeCardLayout
				href={`/recipes/${recipe.slug}/`}
				title={recipe.data.title}
				description={recipe.data.description}
				image={recipe.data.image ?? "/assets/images/placeholder.jpg"}
			/>
		))}
	</section>
  </BaseLayout>
